<div>
  <h1>Home</h1>

  <div>
    <% @columns.each do |column| %>
      <h2>Column: <%= column.name %> (<%= column.id %>)</h2>
      <h3>Cards:</h3>
      <% column.cards.each do |card| %>
        <% if card.column_id == column.id %>
          <%= link_to card_path(card) do %>
            <h4><%= card.name %></h4>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>